
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    height: 50px;
    background-color: #fff;
    /* box-shadow: 0 5px 15px rgba(147, 14, 14, 0.1); */
    box-shadow: 0 5px 35px rgba(0, 0, 14, 0.1);
}

h2 { 
    /* margin-right: 190px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    color: #3c5583;
    cursor: pointer;
}
.links {
    list-style-type: none;
    text-transform: capitalize;
    display: flex;
    gap: 25px;
    
}

.links a {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
}
.links :hover {
    /* transition: all 0.3s ease-in-out; */
    color: #3c5583;
    font-weight: bold;
}
.main-background {
    text-align: center;
    text-transform: capitalize;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F9FAFB;
    height: 91vh;
}
h1 {
    background-color: black;
    color: #fff;
    display: inline-block;
    line-height: 3rem;
    padding: 8px 25px;
    margin-top: 190px;
    border-radius: 10px;
}
.btn {
   
    padding: 5px 15px;
    display: flex;
    margin: 30px auto 0 auto;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    border-radius: 5px;
    border-width: 1.6px;
    border-color: black;
    cursor: pointer;
}
.btn:hover {
    background-color: black;
    color: #fff;
    transition: 0.3s ease-in-out;
}




@media screen and (max-width: 992px) {
    .container {
        gap: 170px;
    }
    h1 {
        font-size: 1.9rem;
        line-height: 4rem;
        border-radius: 20px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 10px 0;
    }
    h2 {
        margin-right: 0;
    }
    .links {
        flex-direction: column;
        gap: 10px;
    }
    h1 {
        width: 350px;
        line-height: 2.2rem;
        font-size: 1.6rem;
    }
    
}

